WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/ea78a6e302e9de88/DEVICERESOURCES.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/e75cd25d76d55f0a/MFCFRAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/e06208bc5dd54d2c/SCENEOBJECT.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/dc80ed2a4c8abe02/DISPLAYOBJECT.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/d287f93466b2420a/MFCMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/cf38f08e0ab76e21/CHUNKOBJECT.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/7cdbee50f2c4db28/DISPLAYCHUNK.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/5feb4fa2cfa6c91d/SELECTDIALOGUE.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/5353e6d8e682c480/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/3d86a073ba787aa9/GAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/3899862c3220900a/MFCRENDERFRAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/1c7f1144a826e1d2/MAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/ipch/AutoPCH/13b2b1f8f119af98/PCH.ipch
WOFFCEdit/.vs/Win32SimpleSample/v16/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v16/.suo
